{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "build",
        "ci",
        "chore",
        "docs",
        "feat",
        "bug",
        "perf",
        "refactor",
        "revert",
        "style",
        "test",
        "config",
        "prcomment"
      ]
    ]
  }
}
